<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yolo image detection</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
  <h2>object detection</h2>
  <form id = "uploadForm" enctype="multipart/form-data">
    <input type="file" name="file" id="file" required>
    <input type="button" id="bth" value="detection">
  </form>
  <div id="result" style="display:none;">
    <h3>result</h3>
    <p>original</p>
    <img src = "" id="originalImg">
    <p>detection image</p>
    <img src = "" id="resultImg">
  </div>
  <script>
    $(document).ready(function(){
        $("#bth").click(function(){
            var formData = new FormData($('#uploadForm')[0]);
            $.ajax({
                url : "/analyze",
                type : "POST",
                data : formData,
                processData: false,
                contentType : false,
                success:function(res){
                  $("#originalImg").attr("src",res.original_image);
                  $("#resultImg").attr("src",res.result_image);
                  $("#result").show();
                },error:function(e){
                  console.log(e);
                }
            });
        });
    });
  </script>
</body>
</html>